.uber-button {
  background-color: black;
  color: white;
  height: 40px;
  width: 120px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity 0.15s;
}
.uber-button:hover {
    opacity: 0.7;
}

.amazon-button {
  background-color: rgb(255, 215, 20);
  color: black;
  border: none;
  height: 40px;
  width: 180px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 0.15s;
}
.amazon-button:hover {
    background-color: rgb(236, 197, 0);
}

.github-button {
  background-color: rgb(46, 164, 79);
  color: white;
  border: none;
  height: 36px;
  width: 88px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 8px;
  transition: box-shadow 0.15s;
}
.github-button:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.bootstrap-button1 {
  background-color: rgb(121, 82, 179);
  color: white;
  border: none;
  height: 35px;
  width: 100px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 0.15s;
}
.bootstrap-button1:hover {
    background-color: rgb(105, 61, 170);
}

.bootstrap-button2 {
  background-color: white;
  color: rgb(108, 117, 125);
  height: 35px;
  width: 100px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  border-width: 1px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 0.15s, color 0.15s, border 0.15s;
}
.bootstrap-button2:hover {
  background-color: rgb(108, 117, 125);
  color: white;
  border: none;
}

.linkedin-button1 {
  margin-top: 8px;
  background-color: rgb(10, 102, 194);
  color: white;
  height: 40px;
  width: 210px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 0.15s, color 0.15s;
}
.linkedin-button1:hover {
  background-color: rgb(6, 77, 148);
  color: rgb(231, 230, 230);
}

.linkedin-button2 {
  margin-top: 8px;
  background-color: white;
  color: rgb(10, 102, 194);
  height: 40px;
  width: 75px;
  border-color: rgb(10, 102, 194);
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}
.linkedin-button2:hover {
  background-color: rgb(188, 228, 247);
  border-width: 2px;
}
